doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title Quéjate de la vida en Plendo 😠
		script(src="js/jquery.min.js")
		script(src="js/bootstrap.min.js")

		script(src="js/vue.js")
		script(src="js/vue-router.js")
		script(src="js/vue-resource.js")
		script(src="js/vuex.js")

		
		//script(src="js/vue.min.js")
			script(src="js/vuex.min.js")
			script(src="js/vue-router.min.js")
			script(src="js/vue-resource.min.js")
			
		
		script(src="js/plendo.js")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/estilos.css")
	body
		div#plendo
			nav.navbar.navbar-default.navbar-fixed-top
				div.container-fluid
					div.navbar-header
						a.navbar-brand(href="#") Plendo
					ul.nav.navbar-nav.navbar-right
						li(v-if="autentificado")
							p.navbar-text(v-once) Hola {{nombre}}
						li(v-if="autentificado")
							a(href="#" v-on:click="salir" v-once) Salir
						li(v-else)
							router-link(to="/autentificar") Únete a Plendo
			router-view
				api
				autentificar
			
		//Componentes para enrutamiento
		template#api
			div
				p(v-if="cargando" v-once) Cargando...
				div.col-sm-4.col-sm-offset-4(v-if="autentificado")
					form(@submit.prevent = "subirQueja")
						h2 Quéjate libremente:
						textarea.form-control(v-model="queja")
						input.btn.btn-default(type="submit" value="¡Quéjate!")
				div.col-sm-4.col-sm-offset-4(v-for="queja in quejas")
					h3 @{{queja.autor}} dice:
					p {{queja.texto}}
					small {{queja.fechaHora | mostrarFecha}}
		template#autentificar
			div
				h1(v-if="cargando" v-once) Cargando...
				//div.col-sm-4
					form(v-on:submit.prevent="registrar")
						p.error.text-center(v-once) {{errores.registrar}}
						h1.text-center Registrate
						label Nombre:
						input.form-control(type="text" v-model="nuevo.nombre")
						label Usuario:
						input.form-control(type="text" v-model="nuevo.usuario")
						label Contraseña:
						input.form-control(type="password" v-model="nuevo.contraseña")
						br
						input.btn.btn-default(type="submit" value="Registrar")
				div.col-sm-4
					form(v-on:submit.prevent="iniciar")
						p.error.text-center(v-once) {{errores.iniciar}}
						h1.text-center Inicia sesión
						label Usuario:
						input.form-control(type="text" v-model="datos.usuario")
						label Contraseña:
						input.form-control(type="password" v-model="datos.contraseña")
						br
						input.btn.btn-default(type="submit" value="Iniciar")
				div.col-sm-4
					form
						h1.text-center Ingresa via Twitter
						input.btn.btn-info.center-block(type="submit" value="Twitter")