doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title Quéjate de la vida en Plendo 😠
		script(src="js/jquery.min.js")

		script(src="js/vue.min.js")
		script(src="js/vuex.min.js")
		script(src="js/vue-router.min.js")
		script(src="js/vue-resource.min.js")
		
		script(src="js/materialize.min.js")
		script(src="js/plendo.js")
		
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet", href="css/materialize.min.css")
		link(rel="stylesheet", href="css/estilos.css")
	body.orange.lighten-4
		div#plendo
			div.navbar-fixed
				nav.orange.accent-3
					div.nav-wrapper
						a.brand-logo(href="/") Plendo
						a.button-collapse(href="#", data-activates="mobile-demo")
							i.material-icons menu
						ul.right.hide-on-med-and-down
							li(v-if="autentificado")
								router-link(to="/usuario" v-once) Hola {{nombre}}
							li(v-if="autentificado")
								a(href="#" v-on:click="salir") Salir
							li(v-else)
								router-link(to="/autentificar") Únete a Plendo
						ul#mobile-demo.side-nav
							li(v-if="autentificado")
								p.navbar-text(v-once) Hola {{nombre}}
							li(v-if="autentificado")
								a(href="#" v-on:click="salir") Salir
							li(v-else)
								router-link(to="/autentificar") Únete a Plendo
			div.progress(v-if="cargando")
				div.indeterminate.orange.darken-2
			router-view

		//Componentes para enrutamiento
		template#api
			div.row
				div.col.s12.m10.offset-m1(v-if="autentificado")
					form(@submit.prevent = "subirQueja")
						h1.center-align Quéjate libremente
						textarea#queja.materialize-textarea(v-model="queja")
						input.btn.waves-effect.waves-light.orange.darken-2(type="submit" value="¡Quéjate!")
				div.col.s12.m10.offset-m1(v-for="queja in quejas")
					h4 @{{queja.autor}} dice:
					p {{queja.texto}}
					p.right-align {{queja.fechaHora | mostrarFecha}}
		template#autentificar
			div.row
				div.col.s12.m4
					form(v-on:submit.prevent="registrar")
						p.error.center-align {{errores.registrar}}
						h3.center-align Registrate
						label Nombre:
						input.form-control(type="text" v-model="nuevo.nombre")
						label Usuario:
						input.form-control(type="text" v-model="nuevo.usuario")
						label Contraseña:
						input.form-control(type="password" v-model="nuevo.contraseña")
						br
						input.btn.waves-effect.waves-light.orange.darken-2(type="submit" value="Registrar")
				div.col.s12.m4
					form(v-on:submit.prevent="iniciar")
						p.error.text-center {{errores.iniciar}}
						h3.center-align Inicia sesión
						label Usuario:
						input.form-control(type="text" v-model="datos.usuario")
						label Contraseña:
						input.form-control(type="password" v-model="datos.contraseña")
						br
						input.btn.waves-effect.waves-light.orange.darken-2(type="submit" value="Iniciar")
				div.col.s12.m4
					form
						h3.center-align Ingresa via Twitter
						input.btn.waves-effect.waves-light.orange.darken-2(type="submit" value="En construcción")