doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title Qu칠jate de la vida en Plendo 游
		script(src="js/jquery.min.js")
		script(src="js/bootstrap.min.js")

		script(src="js/vue.js")
		//script(src="js/vue.min.js")
		script(src="js/vue-router.js")
		//script(src="js/vue-router.min.js")
		script(src="js/vue-resource.js")
		//script(src="js/vue-resource.min.js")
		
		script(src="js/plendo.js")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/estilos.css")
	body
		div#plendo
			nav.navbar.navbar-default.navbar-fixed-top
				div.container-fluid
					div.navbar-header
						a.navbar-brand(href="#") Plendo
					ul.nav.navbar-nav.navbar-right
						li
							router-link(to="/autentificar") 칔nete a Plendo
			router-view
		template#api
			div
				div.col-sm-4.col-sm-offset-4(v-for='queja in quejas')
					h3 @{{queja.autor}} dice:
					p {{queja.texto}}
					small {{queja.fechaHora | mostrarFecha}}
		template#autentificar
			div
				div.col-sm-4
					h1.text-center Registrate
					label Nombre:
					input.form-control(type="text" v-model="nuevo.nombre")
					label Usuario:
					input.form-control(type="text" v-model="nuevo.usuario")
					label Contrase침a:
					input.form-control(type="password" v-model="nuevo.contrase침a")
				div.col-sm-4
					h1.text-center Inicia sesi칩n
					label Usuario:
					input.form-control(type="text" v-model="datos.usuario")
					label Contrase침a:
					input.form-control(type="password" v-model="datos.contrase침a")
				div.col-sm-4
					h1.text-center Ingresa via Twitter