doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title Quéjate de la vida en Plendo 😠
		script(src="js/jquery.min.js")
		script(src="js/bootstrap.min.js")

		script(src="js/vue.js")
		//script(src="js/vue.min.js")
		script(src="js/vue-router.js")
		//script(src="js/vue-router.min.js")
		script(src="js/vue-resource.js")
		//script(src="js/vue-resource.min.js")
		
		script(src="js/plendo.js")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/estilos.css")
	body
		div#plendo
			nav.navbar.navbar-default.navbar-fixed-top
				div.container-fluid
					div.navbar-header
						a.navbar-brand(href="#") Plendo
					ul.nav.navbar-nav
						li
							router-link(to="/autentificar") Únete a Plendo
					ul.nav.navbar-nav.navbar-right
						li
							a(href="#") Hola
			div.row
				router-view Cargando...