html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        script.
            var req = new XMLHttpRequest();
            req.open("GET","http://localhost:5000/quejas");
            req.send();

            req.onreadystatechange = function(){
                if(this.readyState == 3){
                    console.log("Estado 3: "+req.responseText);
                }
                if(this.readyState == 4){
                    console.log("Estado 4: "+req.responseText);
                }
            }
    body
        p Hola